body {
    background-color:#8FBC8B;
    color:azure;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left:20%;
    padding-right:20%;
    font-size: x-large;
}

img {
    max-width: 100%;
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.nav > ul {
    overflow:hidden;
    list-style-type: none;
    background-color:#2E8B57;
}

.nav > ul > li {
    float: left;
    display:block;
    color:black;
    text-align: center;
    padding: 10px;
}

.nav > ul > li > a {
    text-decoration: none;
    color:aliceblue;
}
